*{
    margin: 0px;
    padding: 0px;
    background-color: beige;
}
.main_container{
    background-color: beige;
    text-align: center;
    font-size: x-large;
}
.title{
    font-style: italic;
    padding-bottom: 2%;
}
nav>ul{
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 3%;
}
a{
    color: brown;
    text-decoration: none;
}
.intro{
    font-size: x-large;
    font-weight: 700;
    background-image: url("../images/cattle.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 30%;
}
div>h2{
    padding-bottom:10px;
}
#input1{
    background-color:rgb(175, 254, 254);
    padding-top: 2%;
    text-align: right;
    font-size: larger;
}
#input2{
    background-color: rgb(175, 254, 254);
    padding-top: 10%;
    text-align: right;
    font-size: larger;
}
#input3{
    background-color:rgb(175, 254, 254);
    padding-top: 10%;
    text-align: right;
    font-size: larger;
}
div>#input1, #input2, #input3{
    padding-right: 20%;
    display: flex;
    flex-direction: row;
}
