*{
    margin: 0px;
    padding: 0px;
    background-color: beige;
}
.main_container{
    background-color: beige;
    text-align: center;
    font-size: x-large;
}
nav>ul{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 3%;
}

.intro{
    font-size: x-large;
    background-image: url("../images/cattle.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 80%;
}