*{
    margin: 0px;
    padding: 0px;
}
.main_container{
    background-color: beige;
}

.intro{
    font-size: x-large;
    background-image: url("../images/cattle.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}